{% extends 'base.html' %}

{% block title %} <Romanos></Romanos> {% endblock %}

{% block mi_precioso_bloque_de_formato %}
<form action="creaalta" method="post">
    <div class="field">
        {{ form.fecha.label }}
        {{ form.fecha(type="date") }}
    </div>
    <div class="field">
        {{ form.concepto.label }}
        {{ form.concepto(placeholder='En que te lo has gastado') }}
    </div>
    <div class="field">
        {{ form.cantidad.label }}
        {{ form.cantidad(placeholder='Escribe un número') }}
    </div>
    <div class="field">
        {{ form.submit }}
    </div>  
</form>
{%  endblock %}
