<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Movimientos - {% block title %}{% endblock %}</title>
        <style>
            * {
                font-family:sans-serif;
            }

            header {
                color:white;
                background-color: red;
                font-family:'Courier New', Courier, monospace;
            }
        </style>
    </head>
    <body>
        <header>
            otro texto
            <p>Boot Z 6 - Cash</p>
        </header>

        <section>
            {% block mi_precioso_bloque_de_formato %}{% endblock %}
        </section>

        <footer>
            &copy; 2020 - 2021. Todos los derechos reservados
        </footer>
    </body>
</html>