<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi Kakebo - {% block title %}{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <header>
            <p>Boot Z 6 - Kakebo</p>
        </header>

        <section class="container">
            {% block mi_precioso_bloque_de_formato %}{% endblock %}
        </section>

        <footer>
            &copy; 2020 - 2021. Todos los derechos reservados
        </footer>
    </body>
</html>