{% extends 'base.html' %}

{% block title %} Modifica{% endblock %}

{% block mi_precioso_bloque_de_formato %}
<form action="/modifica/{{registro['id']}}" method="post">
            <div class="field">
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" required value="{{registro['fecha']}}">
    </div>
    <div class="field">
        <label for="concepto">Concepto:</label>
        <input type="text" name="concepto" value="{{registro['concepto']}}">
    </div>
    <div class="field">
        <label for="cantidad">Cantidad:</label>
        <input type="number" name="cantidad" step="0.01" value="{{registro['cantidad']}}">
    </div>
    <div class="field">
        <input type="submit" value="&check;">
    </div>  
</form>


{%  endblock %}
