{% extends 'base.html' %}

{% block title %} Modifica movimiento {% endblock %}

{% block content %}
<div class="title grid">
    <h1 class="title_text">Modificar movimiento</h1>
</div>

<form action="/modifica/{{id}}" method="post">
    {{ form.hidden_tag() }}
    <div class="field">
        {{ form.fecha.label }}
        {{ form.fecha(type="date", class="error-data" if form.fecha.errors else "") }}
        {% for error in form.fecha.errors %}
            <p class="err-msg">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div class="field">
        {{ form.concepto.label }}
        {{ form.concepto(class="error-data" if form.concepto.errors else "") }}
        {% for error in form.concepto.errors %}
            <p class="err-msg">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div class="field">
        {{ form.cantidad.label }}
        {{ form.cantidad(type="number", step=0.01, class="error-data" if form.cantidad.errors else "") }}
        {% for error in form.cantidad.errors %}
            <p class="err-msg">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div class="field">
        {{ form.submit }}
    </div>  
</form>


{%  endblock %}
