{% extends 'base.html' %}

{% block title %} <Romanos></Romanos> {% endblock %}

{% block mi_precioso_bloque_de_formato %}
    <h1>Ingresos mensuales <a href="creaalta">Nuevo</a></h1>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Importe/Guita</th>
        </tr>
    {% for registro in datos %}
        <tr>
            <td>{{ registro.fecha }}</td>
            <td>{{ registro.concepto }}</td>
            <td>{{ registro.valor }}€</td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="3">Total: {{total}} {{datos|sum(attribute='valor')}}€</td>
        </tr>
    </table>
{% endblock %}