{% extends 'base.html' %}

{% block title %} <Romanos></Romanos> {% endblock %}

{% block mi_precioso_bloque_de_formato %}
    <h1>Ingresos mensuales <a href="creaalta">Nuevo</a></h1>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Importe/Guita</th>
        </tr>
    {% for registro in datos %}
        <tr>
            <td><a href="modifica/{{ registro[3] }}">{{ registro[0] }}</a></td>
            <td>{{ registro[1] }}</td>
            <td>{{ registro[2] }}€</td>
        </tr>
    {% endfor %}
        <tr>
            <td colspan="3">Total: {{total}}€</td>
        </tr>
    </table>
{% endblock %}